@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

main .container {
    max-width: 351px;
    position: relative;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

main .container::before {
    content: "";
    position: absolute;
    left: 21px;
    top: 20px;
    width: 89%;
    height: 51%;
    background-color: hsl(178deg 100% 50% / 50%);
    border-radius: 10px;
    transition: .5s;
    display: none;
    cursor: pointer;
}

main .container:hover::before {
    display: block;
}

main .container > img {
    width: 100%;
    border-radius: 10px;
}

main .container .image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    width: 50px;
    transition: .5s;
    display: none;
}

main .container:hover .image {
    display: block;
}

main .container h1 {
    padding: 10px 0;
    color: white;
    cursor: pointer;
    font-size: 26px;
}

main .container h1:hover {
    color: hsl(178, 100%, 50%) ;
}
main .container p {
    color: hsl(215, 51%, 70%);
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 18px;
}

main .container .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    font-size: 18px;
}

main .container .icons span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(178, 100%, 50%);
}

main .container .icons .time {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(215, 51%, 70%);
}

main .container .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

main .container .info img {
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

main .container .info span {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

main .container .info span a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

main .container .info span a:hover {
    color: hsl(178, 100%, 50%);
}
